- if @orders.present?
  .container-fluid
    %h5 Run Orders
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th= 'ID'
          %th= 'EX ID'
          %th= 'Price'
          %th= 'Amount'
          %th= 'Wt Avg Price'
          %th= 'Fix Price'
          %th= 'Fix Amount'
          %th= 'Status'

      %tbody
        - @orders.each do |order|
          %tr
            %td= order.id
            %td= order.x_id
            %td= number_to_currency order.price, precision: 3
            %td= order.amount
            %td= number_to_currency order.wavg_price, precision: 3
            %td= number_to_currency order.fix_price,  precision: 3
            %td= order.fix_amount
            %td= order.status
            - if order.active? && order.x_id.present? 
              %td= link_to 'More', "#", class: 'btn btn-sm btn-outline-dark btn-block', onclick: "alert('Order EX ID: ' + #{order.x_id} + \"\\nPair: \" + \"#{order.x_pair}\" + \"\\nType: \" + \"#{order.x_type}\" + \"\\nDone Amount: \" + #{order.x_done_amount} + \"\\nRest Amount: \" + #{order.x_rest_amount} + \"\\nRate: \" + #{order.x_rate} + \"\\nTimestamp: \" + #{order.x_timestamp} + \"\\nBase Fund: \" + #{order.x_base} + \"\\nQuote Fund: \" + #{order.x_quote} + \"\\nStatus: \" + \"#{order.x_status}\" + \"\\nError: \" + \"#{order.error}\")"
