.container-fluid
  %h1 ZEX
  %hr
  %p= "Domain: #{@domain}" if @domain.present?
  %p= "KEY: #{@key}" if @key.present?
  %p= "SECRET: #{@secret}" if @secret.present?
  %hr
  /div= render 'shared/tickers' 


