.container-fluid
  %h1 Listing runs

  %table.table.table-hover
    %thead
      %tr
        %th Pair
        %th Kind
        %th Depo
        %th Last
        %th First Indent
        %th Overlay
        %th Martingale
        %th Orders Number
        %th Profit
        %th Scale
        %th Stop loss
        %th Status
        %th
        %th
        %th

    %tbody
      - @runs.each do |run|
        %tr
          %td= run.pair.name
          - if run.kind == 'sell'
            %td.ask= run.kind
          - else
            %td.bid= run.kind

          %td= run.depo
          %td= run.last
          %td= run.indent
          %td= run.overlap
          %td= run.martingale
          %td= run.orders_number
          %td= run.profit
          %td= run.scale
          %td= run.stop_loss
          %td= run.status
          %td= link_to 'Show', run
          %td= link_to 'Edit', edit_run_path(run)
          %td= link_to 'Destroy', run, method: :delete, data: { confirm: 'Are you sure?' }

  %br
  .row
    .col-md-1
      = link_to 'New Run', new_run_path, class: 'btn btn-sm btn-primary btn-block'