.container-fluid
  %div= render 'shared/flash_messages'

  %h3.text-muted= "Run (ID = #{@run.id})"
  .row
    .col-md-2
      = "Pair: #{@run.pair.code}"
    .col-md-2
      - if @run.kind == 'sell'
        .ask= "Kind: #{@run.kind}"
      - else
        .bid= "Kind: #{@run.kind}"
    .col-md-2
      = "Orders Number: #{@run.orders_number}"
    .col-md-2
      = "Last trade: #{@run.last}"
    .col-md-2
      = "Depo: #{@run.depo}"
    .col-md-2
      = "First Indent: #{@run.indent} %"
  .row
    .col-md-2
      = "Overlap: #{@run.overlap} %"
    .col-md-2
      = "Martingale: #{@run.martingale} %"
    .col-md-2
      = "Profit: #{@run.profit} %"
    .col-md-2
      = "Scale: #{@run.scale}"
    .col-md-2
      = "Stop loss: #{@run.stop_loss}"
    .col-md-2
      = "Status: #{@run.status}"

  %hr
  %div= render 'shared/orders'

  %div= render 'shared/fix_orders'

  %hr
  .form-actions
    .row
      -#.col-md-1
        = link_to 'Edit', edit_run_path(@run), class: 'btn btn-sm btn-warning btn-block'
      .col-md-1
        = link_to 'Back', runs_path, class: 'btn btn-sm btn-secondary btn-block'

      .col-md-1.offset-md-1
        = link_to 'Place Orders', place_orders_run_path, class: 'btn btn-sm btn-primary btn-block'
      - if !@run.created?
        .col-md-1
          = link_to 'Check Orders', check_orders_run_path, class: 'btn btn-sm btn-primary btn-block'
      - if @fix_orders.present?
        .col-md-1.offset-md-1
          = link_to 'Place Fix', place_fix_order_run_path, class: 'btn btn-sm btn-info btn-block'
        .col-md-1
          = link_to 'Check Fixes', check_fix_orders_run_path, class: 'btn btn-sm btn-info btn-block'
      - if @run.active?
        .col-md-1.offset-md-2
          = link_to 'Cancel Run', cancel_run_path, class: 'btn btn-sm btn-danger btn-block', data: { confirm: 'Are you sure?' }

  %hr
  %div= render 'shared/account'
  %hr