.container-fluid
  %div= render 'shared/flash_messages'
  %hr
  .row
    .col-md-2
      = "Pair: #{@run.pair.code}"
    .col-md-2
      = "Kind: #{@run.kind}"
    .col-md-2
      = "Depo: #{@run.depo}"
    .col-md-2
      = "Last trade: #{@run.last}"
    .col-md-2
      = "Depo: #{@run.depo}"
    .col-md-2
      = "First Indent: #{@run.indent} %"
  .row
    .col-md-2
      = "Overlay: #{@run.overlay} %"
    .col-md-2
      = "Martingale: #{@run.martingale} %"
    .col-md-2
      = "Profit: #{@run.profit} %"
    .col-md-2
      = "Scale: #{@run.scale}"
    .col-md-2
      = "Stop loss: #{@run.stop_loss}"
    .col-md-2
      = "Status: #{@run.status}"

  %hr
  %div= render 'shared/orders'

  .form_actions
    .row
      .col-md-1
        = link_to 'Edit', edit_run_path(@run), class: 'btn btn-sm btn-primary btn-block'
      .col-md-1
        = link_to 'Back', runs_path, class: 'btn btn-sm btn-secondary btn-block'
      .col-md-1
        = link_to 'Place Orders', place_orders_run_path, class: 'btn btn-sm btn-info btn-block'
