%h3.text-info= "Order Book (Depth): Active Orders for each Pair (Asks: Sell offers / Bids: Buy offers)"
%hr
- if @asks.present? && @bids.present?
  .container-fluid
    .row
      - @pairs.each_with_index do |pair, index|
        .col-md-3
          %h4.text-danger= "#{pair}"
          %table.table.table-striped.table-hover.table-sm
            %thead.heading.thead-dark
              %th.bg-danger= "Amount"
              %th.bg-danger= "@ask"
            %tbody
              - @asks[index].each do |ask|
                %tr.table-danger
                  %td= ask.last
                  %td= ask.first
              %tr
          %table.table.table-striped.table-hover.table-sm
            %tr.table-info
              %td= "Spread (abs / rel):"
              - gap_abs = (@asks[index].last.first - @bids[index].first.first).round(2)
              - gap_rel = (gap_abs / @asks[index].last.first * 100).round(3)
              %td= "#{gap_abs} / #{gap_rel} %"

          %table.table.table-striped.table-hover.table-sm
            %thead.heading.thead-dark
              %th.bg-success= "Amount"
              %th.bg-success= "@bid"
              %tbody
                - @bids[index].each do |bid|
                  %tr.table-success
                    %td= bid.last
                    %td= bid.first

