%h5= "Time elapsed to update cashed data files: #{@time_elapsed} seconds"
%hr
- @pairs.each_with_index do |pair, index|
  %h3= "#{pair}"
  %p= "First candle: #{@candles_first[index]}"
  %p= "Last candle: #{@candles_last[index]}"